.image-set-nav {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 40;
}

.nav-button {
  pointer-events: all;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  color: white;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  transition: background 0.2s;
}

.nav-button:hover {
  background: rgba(0, 0, 0, 0.7);
}

.nav-button svg {
  width: 24px;
  height: 24px;
}
